* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: url(./assets/mobile_background.jpg) no-repeat top center/cover;
}

#container {
  margin: auto;
  margin-top: 132px;
  width: 100%;
  /* border: solid 1px red; */
}

#profile {
  width: 100%;
  height: 273px;
  margin: auto;
  position: relative;
  display: block;
}

#profile-rect {
  height: 60%;
  background-color: rgba(150, 150, 150);
  position: absolute;
  left: 0;
  right: 0;
  margin: 1% 7% 10% 25%;
  border-radius: 28px;
  z-index: 1;
}

#profile-rect p {
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: end;
  padding-top: 125px;
}

#profile img {
  width: 180px;
  margin: 46px 257px 47px 10%;
  display: block;

  position: relative;
  z-index: 2;
}

#social-links {
  display: block;

  width: 30%;
  margin: 0% 40%;
  font-size: 100px;
}

#social-links a {
  color: black;
  border-radius: 50%;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

#whatsapp {
  margin-bottom: 30%;
}

#social-links a:hover {
  background-color: grey;
  padding: 16px;
}

#email-crate {
  height: 25px;
  width: 4px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1%;
  margin-bottom: 1%;
}
#email {
  color: white;
  text-decoration: none;
  display: inline-flex;
  margin-left: 5px;
  margin-top: 50%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media only screen and (min-width: 620px) {
  body {
    background: url(./assets/dekstop_background.jpg) no-repeat top center/cover;
  }

  #profile {
    width: 85%;
  }
  #profile-rect p {
    font-size: 40px;
    padding-top: 150px;
  }
  #profile-rect  {
    height: 75%;
  }

  #profile img {
  width: 225px;
  margin-left: 12%;
  }
  #social-links {
    width: 20%;
    margin: 0% 45%;
    font-size: 100px;
  }

  #social-links a {
    color: black;
    border-radius: 50%;
    display: flex;
    padding: 20%;
    align-items: center;
    justify-content: center;
  }

  #social-links a:hover {
    background-color: grey;
    padding: 20%;
  }
}
